.op{
	background-color:black;
	opacity: 0.8;
		border-radius: 5px;
		padding: 50px;
		margin: 5%;
		font-weight: bold;
		}
/*list down*/
	.a2 {
    display: list-item;
    color: lightsteelblue;
	font-size:18px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
	opacity:0.6;
}

.a2:hover {
	display:flex;
    background-color:lightgrey;
	opacity:1;	
	color:Black;
}
	.u2 {
	text-align:center;
	padding-right:150%;
	opacity: 0.9;
	height:46px;
	width:;
    list-style-type: none;
    padding:0;
    overflow: hidden;
    background-color: black;
	border-radius: 15px;
}	
.b1{
	opacity:0.9;
	text-align:center;
	background-color:Black;
	padding: 0x;
	height:48px;
	width:1000px;
	border-radius: 15px;
		}
/*end list down*/
   
 /*list top*/
 .u1 {
  margin-top: -0.6%;
  margin-left:-2.1%;
  opacity: 0.9;
  float:left;
  height:60px;
  width:100%;
  list-style-type: none;
  padding:1;
  overflow: hidden;
  background-color: black;
}
	
.i1 {
font-weight:bold;
font-size:20px;
    float: left;
}

.i2 {
	font-weight:bold;
	color:Black;
	font-size:20px;
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.a1 {
    display: list-item;
    color: lightsteelblue;
	font-size:18px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
	opacity:0.9;
}

.a1:hover {
	display:flex;
    background-color:steelblue;
	opacity:1;	
	font-size:20px;
	color:white;
	font-family:Arial;
}
/*end list top*/

.TOP1 {
  position: relative;
  top:-14px;
width: 50%;
left:-103px;
}

.TOP2 {
  position: absolute;
  
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.TOP1:hover .TOP2 {
  opacity: 1;
}
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
	height:20px;
    background-color: limegreen	;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 215%;
    margin-left: -60px;
	
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: sticky;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: limegreen transparent transparent transparent;
}

/* Show the tooltip text when the mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;

}		
html { 
  background: url(vitesse.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p{color:white;font-size:18px;}
a{color:aqua;}
.shadow { 
   color: red; 
   font: bold 32px Helvetica, Arial, Sans-Serif;
   text-shadow: 1px 1px #4C1500, 
                2px 2px #4C1500, 
                3px 3px #4C1500;
   -webkit-transition: all 0.12s ease-out;
   -moz-transition:    all 0.12s ease-out;
   -ms-transition:     all 0.12s ease-out;
   -o-transition:      all 0.12s ease-out;
}

.copy
    {  text-align:center ;
	     color:white;
	     font-size:20px}

.c1
  { color:red;
    font-style: italic;}

.c2
  { color:violet;}

.c3
   {  color:blue;}

li
  { list-style-type: none;}

.c16:before{content: "*";}

.c15
  { color:white;font-size:150%;
  font-weight:bolder;
  font-family:consolas;}
  